<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-mapping PUBLIC
        "-//Hibernate/Hibernate Mapping DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd">

<hibernate-mapping>
    <class name="ua.baibak.todolist.entity.Task" table="tasks">

        <id name="id" type="int" column="id">
            <generator class="increment"/>
        </id>
        <property name="description" column="description" type="string"/>
        <property name="createdDate" column="createdDate" type="java.sql.Date"/>
        <property name="deadline" column="deadline" type="java.sql.Date"/>
    </class>
    <class name="ua.baibak.todolist.entity.User" table="users">
        <id name="id" type="int" column="id">
            <generator class="increment"/>
        </id>
        <property name="userName" column="username" type="string"/>
        <property name="password" column="password" type="string"/>
        <property name="enabled" column="enabled" type="byte"/>
        <property name="roleUser" column="userRole" type="string"/>
    </class>

</hibernate-mapping>