<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hibernateImplementation" class="ua.baibak.todolist.dao.HibernateTasksDao"></bean>
    <bean id="jdbcImplementation" class="ua.baibak.todolist.dao.JdbcTasksDao"></bean>
    <bean id="tasksService" class="ua.baibak.todolist.service.TasksService">
        <property name="tasksDao" ref="jdbcImplementation"></property>
    </bean>
    <bean id="validation" class="ua.baibak.todolist.service.Validate"></bean>

</beans>